

body{
  text-align: center;
}


form{
  border: 2px solid black;
  background-color: rgb(204, 204, 204);
  width: 38vw;
  margin: auto;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input{
  width: fit-content;
  margin: auto;
  height: 30px;
  width: 20vw;
  font-size: medium;
  border-radius: 5px;
  padding-left: 8px;

}
button{
  margin: 10px;
  width: fit-content;
  margin: auto;
  height: 40px;
  border: 1px solid black;
  color: white;
  background-color: green;
  width: 300px;
  border-radius: 10px;
}




input+span,div+span{
  color: red;
}

#successMsg{
  border: 2px solid white;
  color: white;
  font-size: 24px;
  padding: 6px;
  background-color: blue;
  margin: 6px;
  text-align: center;
}

#successBox{
  /* border: 2px solid red; */
  height: 8vh;
}





