
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#whole-container{
  min-height: 100vh;
  background-color: black;
  text-align: center;
  color: white;

}

form{
  border: 2px solid white;
  border-radius: 10px;
  width: 38vw;
  margin: auto;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#heading{
  padding: 12px;
}
input{
  width: fit-content;
  margin: auto;
  height: 36px;
  width: 20vw;
  font-size: medium;
  border-radius: 5px;
  padding-left: 16px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
text-align: center;
}
button{
  margin: 10px;
  width: fit-content;
  margin: auto;
  height: 40px;
  color: white;
  font-weight: bold;
  background-color: green;
  width: 300px;
  border-radius: 10px;
  border: 2px solid white;
}

p{
  color: red;
}

#successMsg{
  border: 2px solid white;
  color: white;
  font-size: 24px;
  padding: 6px;
  background-color: blue;
  margin: 6px;
  text-align: center;
}

#successBox{
  height: 6vh;
}


img{
  height: 20px;
}

#eye{
  position: relative;
right: 36px;
top: 4px;
}

#eye:hover{
  cursor: pointer;
}







